{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Zuricha
        </title>
        <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/popper-2.9.2.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

    </head>
<body>
{% include 'chat/messages.html' %}
<header class="navbar-expand-sm  container-fluid">

    <a class="navbar navbar-left">
        <h1 class="font-weight-bold"><a href="{% url 'index' %}" class="text-info">Zuricha</a></h1>
    </a>

    {% if user.is_authenticated %}
    <div class="navbar form-inline ml-auto">
{#    <div class="collapse navbar-collapse" id="mainMenu">#}

          <button type="button" class="btn nav-link dropdown-toggle text-info" href="#" id="userMenu"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Welcome, {{ user.username }}
          </button>
    <div class="dropdown-menu border" style="border-radius: 10px" aria-labelledby="userMenu">
{#        <a class="dropdown-item btn-light" href="{% url 'post_new' %}"><button class="btn btn-info"#}
{#                                                                               type="submit">New Blog Post</button></a>#}

        <div class="dropdown-divider"></div>
        <a class="dropdown-item btn-light" href="/logout"><button class="btn btn-outline-info" type="submit">Logout</button></a>
{#        <p class="text-info font-italic">Welcome, {{ user.username }}</p>#}
    </div>

    </div>
{#    </div>#}




    {% else %}
        <div class="form-inline ml-auto">
        <a class="nav-link" href="/login"><button class="btn btn-outline-info">Login</button></a>
        <a class="nav-link" href="/register" ><button class="btn btn-info">Register</button></a>
        </div>
    {% endif %}


</header>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>