

{% load static %}

<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
     <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
{#    <link rel="stylesheet" href="{% static 'css/room.css' %}">#}
  </head>

<body>
  <div id="frame">

    <div class="content" >
      <div class="contact-profile container-fluid">
        <img src="{% static 'img/chay.png' %}" alt="" />

        <p class="font-weight-bold text-info navbar-brand" style="margin-top: 10px">{{ user.username }}</p>



          <a  href="/logout"><button class="btn btn-info">Logout</button></a>

          <a  href="{% url 'index' %}"><button class="btn btn-outline-info">Rooms</button></a>

      </div>
    <div class="room_name">
        <p class="font-italic font-weight-bold text-info">{{ room_name }} </p>
    </div>
      <div class="messages">
        <ul id="chat-log">
       <li class="sent">
            <img src="{% static 'img/chay.png' %}" alt="" />
           <p>Welcome to my shitty chat app.<span id="spa" class="shit">Zuricha Developer</span></p>

          </li>
        </ul>
      </div>
    </div>
      <div>
          <p>Welcome to my shitty chat app.<span id="spa" class="shit">Zuricha Developer</span></p>
      </div>

          <div class="message-input panel-foot">

        <div class="col-sm-11 col-xs-11 ">
          <textarea class="form-control" rows="1" placeholder="Write your message..." id="chat-message-input"></textarea>
        </div>

        <div class="col-sm-1 col-xs-1 reply-send" id="chat-message-submit">
          <i class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
      </div>
          </div>

    </div>
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{#<div class="container">#}
{#	<div class="row">#}
{#                 <div class="col-sm-4">#}
{#                  <div class="panel panel-primary">#}
{#		    <div class="panel-heading top-bar">#}
{#                    <div class="col-md-8 col-xs-8">#}
{#                        <h3 class="panel-title"><span class="glyphicon glyphicon-book"></span> Rooms</h3>#}
{#                    </div>#}
{#                </div>#}
{#		    <table class="table table-striped table-hover">#}
{#		        <tbody>#}
{#                {% for r in room %}#}
{#		            <tr>#}
{#		                <td>{{ r.id }}</td>#}
{#                        <td><a href="{% url 'room' r.name %}" >{{ r.name }}</a></td>#}
{#                    </tr>#}
{#		            <tr>#}
{#		                <td>2</td>#}
{#		                <td>Vasya</td>#}
{#		            </tr>#}
{#		            <tr>#}
{#		                <td>3</td>#}
{#		                <td>Inna</td>#}
{#		            </tr>#}
{#                {% endfor %}#}
{#		        </tbody>#}
{#		    </table>#}
{#		</div>#}
{#                 </div>#}
{##}
{##}
{##}
{#                 <div class="col-sm-8">#}
{#                  <div class="chatbody">#}
{#                  <div class="panel panel-primary">#}
{#                <div class="panel-heading top-bar">#}
{#                    <div class="col-md-8 col-xs-8">#}
{#                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment"></span> Chat - Miguel</h3>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="panel-body msg_container_base" id="chat-log">#}
{#                    <div class="row msg_container base_sent">#}
{#                        <div class="col-md-10 col-xs-10">#}
{#                            <div class="messages msg_sent">#}
{#                                <p>that mongodb thing looks good, huh?#}
{#                                tiny master db, and huge document store</p>#}
{#                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-2 col-xs-2 avatar">#}
{#                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row msg_container base_receive">#}
{#                        <div class="col-md-2 col-xs-2 avatar">#}
{#                            <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">#}
{#                        </div>#}
{#                        <div class="col-md-10 col-xs-10">#}
{#                            <div class="messages msg_receive">#}
{#                                <p>that mongodb thing looks good, huh?#}
{#                                tiny master db, and huge document store</p>#}
{#                                <time datetime="2009-11-13T20:00">Timothy • 51 min</time>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="panel-footer">#}
{#                    <div class="input-group">#}
{#                        <input id="chat-message-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />#}
{#                        <span class="input-group-btn">#}
{#                        <button class="btn btn-primary btn-sm" id="chat-message-submit"><i class="fa fa-send fa-1x" aria-hidden="true"></i></button>#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
{#    		</div>#}
{#                  </div>#}
{#                 </div>#}
{#    </div>#}
{#</div>#}



{{ room_name|json_script:"room-name" }}
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/reconnecting-websocket.js' %}"></script>
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const username = {{ username }};

        const chatSocket = new ReconnectingWebSocket(
            'wss://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onopen = function (e){
            fetchMessages();
        }
        function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data)
            if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        }

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'command': 'new_message',
                'from': username,
                'room': roomName,


            }));
            messageInputDom.value = '';
        }

        function createMessage(data){
            const author = data['author'];
            const timestamp = data['timestamp'];
          const msgListTag = document.createElement('li');
          const imgTag = document.createElement('img');
          const pTag = document.createElement('p');
          const spanTag = document.createElement('span');
          spanTag.textContent = author + ' | ' +timestamp;
          spanTag.classList.add('shit');
          pTag.textContent = (data.content);
          pTag.appendChild(spanTag)
          imgTag.src = '{% static 'img/chay.png' %}';

          if (author === username) {
            msgListTag.className = 'replies';
          } else {
            msgListTag.className = 'sent';
          }
          msgListTag.appendChild(imgTag);
          msgListTag.appendChild(pTag);
          {#msgListTag.appendChild(spanTag);#}
          document.querySelector('#chat-log').appendChild(msgListTag);

        }
    </script>

</body>

</html>
